.button {
  padding: 5px 10px;
  background-color: burlywood;
  border-radius: 5px;
  margin-right: 10px;
}

.evenBg {
  background-color: red;
  color: white;
}

.oddBg {
  background-color: green;
  color: white;
}
